body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;

  /* FUNDO ESCURO */
  background: radial-gradient(circle at top, #1a1a2e, #000);

  /* CENTRALIZA */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER CENTRAL */
.container {
  text-align: center;
  color: white;
}

/* TÍTULO */
h1 {
  margin-bottom: 30px;
}

/* BOTÕES */
.buttons button {
  display: block;
  margin: 10px auto;
  padding: 12px 20px;
  width: 130px;

  border: none;
  border-radius: 8px;

  background: #4a4aff;
  color: white;

  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background: #2f2fff;
}
